.header{
    border: 1px solid red;
    height: 10%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.img-container{
    border: 1px solid red;
    width: auto;
    height: 100%;
}
.img-logo{
    width: 100%;
    height: 100%;
    object-fit: contain
}
.searchbar-container{
    width: 50%;
    object-fit: contain;
    border: 1px solid green;
}
